<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>Hi,This is Harsha Priya pursuing Information Technology at St.Joseph's Institute Of Technology.           
            </p>
            <p>Technocrat|Software Engineer|Programmer|App Designer</p>
            <a href="https://drive.google.com/file/d/1jkr1BTjRNisaY25OEuJVBzkpQN5a2Z6W/view?usp=sharing">MyResume</a>
        </div>
        
    </div>
</section>
