<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact me at</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:priyaharsha22@gmail.com"
                    {{ priyaharsha22@gmail.com }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                
                <a href="tel:{{ site.phone }}">
                    {{ 9940595123 }}
                </a>
            </div>
        </div>
    </div>
</footer>
