<footer class="container-fluid container-copyright">
<!--Tracking Script-->
  
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-8006e6e6-a1df-4c7c-b283-15ecad3dd4e1"></div>
<script type="text/javascript" src="https://freehitcounters.org/count/8411"></script><br>
 <a href='https://www.symptoma.com/en/info/covid-19'>2019-nCoV</a> 
 <script type='text/javascript' src='https://whomania.com/ctr?id=9db270bcf7c0e1ea1449f14455f95ac00876ccab'></script>
 
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <p class="copyright"><center>© 2018 St.Josephite. All Rights Reserved  </center></p>
                <!--&copy;&nbsp;{{ site.copyright }} -->
            </div>
        </div>
    </div>
</footer>
