<head>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-8006e6e6-a1df-4c7c-b283-15ecad3dd4e1"></div>


<a href='https://www.symptoma.com/en/info/covid-19'>2019-nCoV</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=b528df187dc266e752c29958c64ac8a3e44f20fd'></script>
<script type="text/javascript" src="https://freevisitorcounters.com/en/home/counter/784741/t/0"></script>



<script type="text/javascript" src="https://freehitcounters.org/count/8411"></script><br>
 <a href='https://www.symptoma.com/en/info/covid-19'>2019-nCoV</a> <script type='text/javascript' src='https://whomania.com/ctr?id=9db270bcf7c0e1ea1449f14455f95ac00876ccab'></script>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HARSHA PRIYA</title>
  <!--  <title>{{ site.brand }} - {{ site.title }}</title> -->
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    {% if site.meta_author %}
    <meta name="author" content="{{ site.meta_author }}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="./web-dist/css/main.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.5/js/tether.min.js"></script>
    <script src="./web-dist/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/266c035ce0.js"></script>
    <script src="./web-dist/js/app.js"></script>
</head>
